/*

/* ================================================
   Global Styles
   ================================================ */

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
}

a {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
/* 
   Typography
   ---------- */

strong,
b {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 16px;
    }
}

p,
.lead {
    line-height: 1.7;
}
/* 
   Buttons
   ------- */

.btn {
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 20px;
    border-width: 0;
    /*transition:all .5s ease;*/
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.btn-xl {
    padding: 15px 50px;
    font-size: 24px;
    font-weight: bold;
}

.btn-xs {
    border-width: 1px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 300;
}

@media (max-width: 767px) {
    .btn-xl {
        font-size: 20px;
        padding: 15px 40px;
    }
}

.btn-default,
.btn-outline,
.btn-success {
    border-width: 2px;
}
/* 
   Breadcrumbs
   ----------- */

.breadcrumb {
    background-color: transparent;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #FFF;
    text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
    color: rgba(255, 255, 255, 0.7);
}
/* 
   Navbar
   ------ */

.navbar-default {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
    padding: 15px 0;
}

.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    border-radius: 3px;
}

.navbar-brand {
    padding: 0 15px;
    height: auto;
}
/* 
   Nav Tabs
   -------- */

.nav-center {
    text-align: center;
}

.nav-center ul.nav {
    display: inline-block;
}

.nav-center ul.nav li {
    display: inline;
}

.nav-center ul.nav li a {
    float: left;
}
/* 
   Modal box
   -------------- */

.modal-content {
    border-radius: 3px;
}

.modal-transparent .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 0;
}

@media (min-width: 768px) {
    .modal-sm {
        width: 450px;
    }
    .modal-content {
        -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, .2);
        box-shadow: 0 0px 50px rgba(0, 0, 0, .2);
    }
    .modal-dialog {
        margin: 80px auto;
    }
}

/* 
   Pace Preloader
   -------------- */

.preloader {
    position: fixed;
    width: 100%;
    height: 2px;
    z-index: 9999999;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 9999999;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 1s ease-in-out 1s linear;
    -moz-transition: width 1s ease-in-out 1s linear;
    -ms-transition: width 1s ease-in-out 1s linear;
    -o-transition: width 1s ease-in-out 1s linear;
    transition: width 1s ease-in-out 1s linear;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 100%;
    position: fixed;
    z-index: 9999999;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #F76D53;
}

.pace.pace-inactive {
    display: none;
}
/* 
   Back to Top
   ----------- */

.back_to_top {
    display: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.back_to_top:hover {
    opacity: 0.5;
}
/* 
   Utilites
   -------- */
/* Vertical Rhythm */

.vertical-space {
    margin: 20px 0;
}

.horizontal-space {
    margin: 0 20px;
}

.left-space {
    margin-left: 20px;
}

.right-space {
    margin-right: 20px;
}

.top-space {
    margin-top: 20px;
}

.bottom-space {
    margin-bottom: 20px;
}

.no-top-space {
    margin-top: 0;
}

.no-bottom-space {
    margin-bottom: 0;
}

.no-left-space {
    margin-left: 0;
}

.no-right-space {
    margin-right: 0;
}
/* lg - large */

.vertical-space-lg {
    margin: 40px 0;
}

.horizontal-space-lg {
    margin: 0 40px;
}

.left-space-lg {
    margin-left: 40px;
}

.right-space-lg {
    margin-right: 40px;
}

.top-space-lg {
    margin-top: 40px;
}

.bottom-space-lg {
    margin-bottom: 40px;
}
/* xl - Extra large */

.vertical-space-xl {
    margin: 80px 0;
}

.horizontal-space-xl {
    margin: 0 80px;
}

.left-space-xl {
    margin-left: 80px;
}

.right-space-xl {
    margin-right: 80px;
}

.top-space-xl {
    margin-top: 80px;
}

.bottom-space-xl {
    margin-bottom: 80px;
}
/* sm - small */

.vertical-space-sm {
    margin: 10px 0;
}

.horizontal-space-sm {
    margin: 0 10px;
}

.left-space-sm {
    margin-left: 10px;
}

.right-space-sm {
    margin-right: 10px;
}

.top-space-sm {
    margin-top: 10px;
}

.bottom-space-sm {
    margin-bottom: 10px;
}
/* ================================================
   Header
   ================================================ */

.header {
    position: relative;
    padding: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.headline-support {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}

.when_where {
    padding: 30px 0;
}
/* ================================================
   Countdown Timer
   ================================================ */

.countdown_wrap {
    margin-top: 40px;
}

.countdown_wrap p {
    font-size: 22px;
    margin-bottom: 0;
}

#countdown,
#countdown li {
    list-style: none;
}

#countdown {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

#countdown li {
    display: inline-block;
    width: 104px;
    text-align: center;
    background: #FFF;
    padding: 15px 5px;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#countdown li span {
    font-size: 40px;
    font-weight: bold;
    color: #3b3b3b;
    height: 108px;
    line-height: 1.0;
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
}

#countdown li p {
    margin-top: 5px;
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: .875em;
}

.countdown_title {
    margin: 20px 0;
}
/* ================================================
   Members
   ================================================ */

.member-info {
    text-align: center;
    margin-bottom: 20px;
}

.member-info img {
    border-radius: 50%;
}

.member-info p {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 0;
    line-height: 1;
}

.member-info span {
    font-size: 13px;
}

.member-slider .slick-prev,
.member-slider .slick-next {
    top: 40%;
}
/* ================================================
   Timeline
   ================================================ */

.nav-pills> li > a {
    background-color: #eee;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    ;
}

.nav-pills> li > a:hover {
    background-color: #E7E7E7;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills > li:not(:first-child):not(:last-child) a {
    border-radius: 0;
}

.nav-pills > li:first-child > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-pills > li:last-child > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* 
   Vertical Timeline
   ----------------- */

.timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 0;
}

.timeline::before {
    /* this is the vertical line */
    
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 3px;
}

@media only screen and (min-width: 1170px) {
    .timeline {
        margin-top: 3em;
        margin-bottom: 0;
    }
    .timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.timeline-block {
    position: relative;
    margin: 1em 0;
}

.timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-block:last-child {
    margin-bottom: 0;
    background-color: #FFF;
}

@media only screen and (min-width: 1170px) {
    .timeline-block {
        margin: 2em 0;
    }
    .timeline-block:first-child {
        margin-top: 0;
    }
    .timeline-block:last-child {
        margin-bottom: 0;
    }
}

.timeline-bullet {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid;
    background: #FFF;
}

@media only screen and (min-width: 1170px) {
    .timeline-bullet {
        width: 15px;
        height: 15px;
        left: 50%;
        margin-left: -8px;
        /* Force Hardware Acceleration in WebKit */
        
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.timeline-content {
    position: relative;
    margin-left: 35px;
    min-height: 50px;
    margin-bottom: 10px;
}

.timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-content h2 {
    font-size: 18px;
    margin: 0;
}

.timeline-content p,
.timeline-content .date {
    font-size: 13px;
}

.timeline-content .date {
    display: inline-block;
}

.timeline-content p {
    margin: 5px 0;
    line-height: 1.6;
    color: #B3B3B3;
}

.no-touch .timeline-content .read-more:hover {
    background-color: #bac4cb;
}

.timeline-content .date {
    float: left;
    padding: 0;
    opacity: .7;
    font-weight: 600;
    color: #717171;
}

@media only screen and (min-width: 768px) {
    .timeline-content {
        margin-left: 60px;
    }
    .timeline-content h2 {
        font-size: 18px;
        line-height: 1.0;
    }
    .timeline-content p {
        font-size: 14px;
        line-height: 1.0;
    }
    .timeline-content .read-more,
    .timeline-content .date {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1170px) {
    .timeline-content {
        margin-left: 0;
        width: 47.3%;
    }
    .timeline .timeline-block:nth-child(odd) .timeline-content h2,
    .timeline .timeline-block:nth-child(odd) .timeline-content p {
        text-align: right;
    }
    .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .timeline-content .read-more {
        float: left;
    }
    .timeline-content .date {
        position: absolute;
        width: 100%;
        left: 112%;
        top: 0;
        font-size: 14px;
    }
    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .timeline-block:nth-child(even) .timeline-content .read-more {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content .date {
        left: auto;
        right: 112%;
        text-align: right;
    }
}
/* ================================================
   stack
   ================================================ */

.stack-item {
    margin-bottom: 30px;
}

.stack-item img {
    float: left;
}

.stack-item .stack-icon {
    float: left;
    font-size: 40px;
    margin: 0 15px;
}

.stack-item .stack-title,
.stack-item p {
    margin-left: 80px;
}
/* ================================================
   Gallery
   ================================================ */

.popup-gallery {
    margin-bottom: 50px;
}

.popup-gallery a {
    display: block;
    margin-bottom: 35px;
    cursor: pointer;
    cursor: zoom-in;
}

.media-thumb {
    margin: 30px 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-video {
    cursor: pointer;
}

.play-video p {
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    background: transparent;
    border: solid 5px transparent;
    color: #a0a0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-video:hover p {
    background: #FFF;
    border: solid 5px #FFF;
    color: #333;
}

.play-video:hover img {
    opacity: 0.7;
}

.play-video {
    position: relative;
}

.play-video .video-loader {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF;
    font-weight: 600;
}

@media (max-width: 767px) {
    .media-video iframe {
        width: 100%;
    }
}
/* ================================================
   Contact
   ================================================ */

.contact-box {
    background: #FFF;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 20px 0;
}

@media (min-width: 992px) {
    .contact-box img {
        float: right;
        padding: 40px 20px;
    }
}

@media (max-width: 992px) {
    .contact-box {
        text-align: center;
    }
    .contact-box img {
        float: none;
        padding: 20px;
    }
}
/* ================================================
   Footer CTA
   ================================================ */

.footer-action {
    background: #f1f1f1;
    text-align: center;
    padding-top: 60px;
}

.footer-action .headline {
    margin-top: 0;
}

.footer-action .headline-support {
    color: #818181;
}
/* ================================================
   Footer
   ================================================ */

footer {
    text-align: center;
    padding: 40px 0 30px;
}

.social-icons {
    padding-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    padding: 0 5px;
}

.social-icons a i {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.55em;
    width: 2.15em;
    height: 2.15em;
    line-height: 2.15em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    margin: 0;
}

.social-icons a:hover {
    opacity: 0.8;
}
/* ================================================
   ADD TO CALENDAR
   ================================================ */
/* Base */

.addtocalendar var {
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover {
    visibility: visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 225px;
    z-index: 900;
}

.atcb-list,
.atcb-item {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link {
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
/* theme */

.atc-style-theme .atcb-link {
    margin: 0;
    padding: 7px 25px;
    color: #8C8C8C;
    border: solid 2px #CACACA;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    vertical-align: middle;
    background: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    zoom: 1;
}

.atc-style-theme .atcb-link:hover,
.atc-style-theme .atcb-link:active,
.atc-style-theme .atcb-link:focus {
    border-color: #818181;
    color: #8C8C8C;
}

.atc-style-theme .atcb-list {
    width: 225px;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
}

.atc-style-theme .atcb-list,
.atc-style-theme .atcb-item {
    background: #fff;
    color: #000;
}

.atc-style-theme .atcb-item,
.atc-style-theme .atcb-item-link {
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}

.atc-style-theme .atcb-item-link,
.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
}

.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
    /*color: #fff;*/
}

.atc-style-theme .atcb-item.hover,
.atc-style-theme .atcb-item:hover {
    background: #EFEFEF;
}